body {
    width: 960px;
    margin: auto;
}

svg {
    border: 1px solid lightgrey;
}

path {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1px;
}

circle {
    stroke: steelblue;
    stroke-width: 1px;
}

text {
    font: 11px sans-serif;
}

.node {
    cursor: pointer;
}

/* button {
    position: relative;
    top: 40px;
    left: 20px;
} */