body {
    width: 960px;
    position: relative;
    margin: auto;
}

button {
    position: absolute;
    left: 30px;
    top: 100px;
}

svg{
    border: 1px solid lightgrey;
}

.symbol {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill: white;
}

.symbol.collapsed {
    fill: lightgrey;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.leaf {
    text-anchor: start;
}

.inner {
    text-anchor: end;
}

.link {
    stroke: lightgrey;
    stroke-width: 1px;
    fill: none;
}